@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

*{
  margin: 0px;
  padding: 0px;
}

header{
  text-align: center;
  padding: 50px;
  color: white;
  background-color: black;
  margin-bottom: 50px;
}

header h1{
  font-family: var(--fonte2);
  font-size: 9vw;
  font-variant: small-caps;
}

header p{
  font-family: var(--fonte2);
  font-size: 1.5em;
}
header a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header a:hover{
  text-decoration: underline;
}

main article pre{
  margin-left: 30px;
  text-align: justify;
  font-family: var(--fonte3);
  font-size: 4vw;
  margin-bottom: 50px;
}

#img1{
  background: purple url(/imagens/background001.jpg) center right  no-repeat  fixed;
  background-size: cover;
}

#img2{
  background: purple url(/imagens/background002.jpg) center right  no-repeat  fixed;
  background-size: cover;
}

.imagem{
  margin-bottom: 50px;
}
.imagem > pre{
  display: inline-block;
  margin: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
  text-shadow: 1px 1px 10px black;
}

footer{
  font-family: var(--fonte1);
  padding: 10px;
  background-color: black;
  color: white;

  text-align: center;
}